@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #8fbcd1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: dvh;
}
.header,
.footer {
  padding: 2rem 3rem;
  background-color: #ddd;
  flex-grow: 0;
}
.main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #ddd;
  width: min(80vw, 50rem);
  padding: 3rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.list-element {
  display: flex;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.list-element > div {
  padding: 0.5rem 1rem;
}
.list-element__value {
  border-right: 1px solid #aaa;
}
.null {
  padding: 0.5rem 0;
  border: none;
  font-style: italic;
}
